<section id="process">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <div class="process-content">
        <div>
          <a routerLink="/homeservices">
            <img src="../../../../assets/img/new/back.png" />
          <span>Back</span>

          </a>
        </div>
        <div class="process-title">
          <h2>Your Film Wizard is under Process</h2>
        </div>
        <div class="rebort">
          <img src="../../../../assets/img/new/rebort.png"/>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12" style="text-align: center;margin-top: -8vh;">
      <img src="../../../../assets/img/new/procss.png" width="400px" />
    </div>
  </div>

  <div class="row download">
    <div class="col-xl-12 col-lg-12 col-md-6 col-6" style="padding-top: 15px">
      <div class="progressbar">
        <img src="../../../../assets/img/new/processbar.png"/>
      </div>
      <div>
      <p>You will be notified when the progress is done via your email, dashboard notification or<br /> mobile number.</p>
      </div>

    </div>
  </div>
</section>
