<section id="failed">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <div class="failed-content">
        <div>
          <!-- routerLink="/homeservices/sucess" -->
          <a routerLink="/homeservices">
            <img src="../../../../assets/img/new/back.png" />
          <span>Back</span>

          </a>
          
        </div>
        <div class="failed-title">
          <h2>We Are Sorry!</h2>
        </div>
        <div class="rebort">
          <img src="../../../../assets/img/new/rebort.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-11 col-lg-11 col-md-11 col-11">
      <img src="../../../../assets/img/new/failed.png" width="100%" />
    </div>
  </div>

  <div class="row download">
    <div class="col-xl-7 col-lg-7 col-md-6 col-6" style="padding-top: 15px">
      <div>
        <p>
          Your Script Revision request was rejected for the following reasons:
        </p>
        <ul>
          <li>
            - Some part of your script is violating Saudi Arabia community
            ethics
          </li>
          <li>
            - The storyline is presenting Saudi community in inappropriate way
          </li>
        </ul>

        <p>Suggested Solutions:</p>
        <ul>
          <li>
            - Rewrite the parts marked in red in your revised script file and
            repost it again.
          </li>
          <li>
            - If you would encounter a problem and need consultation, please
            contact us here
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-6" style="text-align: center">
      <div class="part2">
        <h4>Download</h4>
        <p>
          Please download your REVISED script file and check all the comments in
          it
        </p>
        <a>Download</a>
      </div>
    </div>
  </div>
</section>
