<!--Statistics cards Starts-->
<div class="header">


<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-12">
		<div  class="header-title">
			<h2>What's going on?</h2>
	
		</div>
</div>
	
</div>
<div class="row" style="justify-content: flex-start;">
	
	<div class="col-xl-2 col-lg-6 col-md-6 col-12">
	  <div class="card" routerLink="/homeservices">
		<div class="card-content">
		  <div class="card-body pt-2 pb-0">
			<div class="media">
			  <div class="media-body white text-left">
				<h4 class="title mb-0">Requested Services</h4>
			  </div>
			 
			</div>
		  </div>
		  <div class="card-body pt-4 pb-0">
			<div class="media">
			 
			  <div class="media-right white text-left">
				<i class="icon-wallet font-large-1"></i>
			  </div>
			  <div class="media-body white text-right">
				<h3 class="font-large-1 mb-0">4</h3>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="col-xl-2 col-lg-6 col-md-6 col-12">
	  <div class="card" routerLink="/homeservices">
		<div class="card-content">
		  <div class="card-body pt-2 pb-0">
			<div class="media">
			  <div class="media-body white text-left">
				<h3 class="title mb-0">Approved Services</h3>
				<!-- <span>Total Tax</span> -->
			  </div>
			 
			</div>
		  </div>
		  <div class="card-body pt-4 pb-0">
			<div class="media">
			 
			  <div class="media-right white text-left">
				<!-- <i class="icon-wallet font-large-1"></i> -->
				<img src="../../../assets/img/new/smile (1).svg"/>
				<!-- <i class="fa-thin fa-face-smile"></i> -->
			  </div>
			  <div class="media-body white text-right">
				<h3 class="font-large-1 mb-0">1</h3>
				<!-- <span>Total Earning</span> -->
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  
	<div class="col-xl-2 col-lg-6 col-md-6 col-12">
	  <div class="card" routerLink="/homeservices">
		<div class="card-content">
		  <div class="card-body pt-2 pb-0">
			<div class="media">
			  <div class="media-body white text-left">
				<h3 class="title mb-0">Rejected Services</h3>
				<!-- <span>Total Sales</span> -->
			  </div>
			  
			</div>
		  </div>
		  <div class="card-body pt-4 pb-0">
			<div class="media">
			 
			  <div class="media-right white text-left">
				<img src="../../../assets/img/new/frown (1).svg"/>

				<!-- <i class="icon-wallet font-large-1"></i> -->
			  </div>
			  <div class="media-body white text-right">
				<h3 class="font-large-1 mb-0">2</h3>
				<!-- <span>Total Earning</span> -->
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="col-xl-2 col-lg-6 col-md-6 col-12">
	  <div class="card" routerLink="/homeservices">
		<div class="card-content">
		  <div class="card-body pt-2 pb-0">
			<div class="media">
			  <div class="media-body white text-left">
				<h3 class="title mb-0">In Process Services</h3>
				<!-- <span>Total Earning</span> -->
			  </div>
			  
			</div>
		  </div>
		  <div class="card-body pt-4 pb-0">
			<div class="media">
			 
			  <div class="media-right white text-left">
				<img src="../../../assets/img/new/clock.png" width="24" height="30"/>
			  </div>
			  <div class="media-body white text-right">
				<h3 class="font-large-1 mb-0">1</h3>
				<!-- <span>Total Earning</span> -->
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>

	<div class="col-xl-2 col-lg-6 col-md-6 col-12">
		<div class="card" routerLink="/homeservices">
		  <div class="card-content">
			<div class="card-body pt-2 pb-0">
			  <div class="media">
				<div class="media-body white text-left">
				  <h3 class="title mb-0">Notifications</h3>
				  <!-- <span>Total Earning</span> -->
				</div>
				
			  </div>
			</div>

			<div class="card-body pt-4 pb-0">
				<div class="media">
				 
				  <div class="media-right white text-left">
					<!-- <i class="ft-bell font-large-1"></i> -->
          <img src="../../../assets/img/new/notification.png" width="24" height="30"/>

				  </div>
				  <div class="media-body white text-right">
					<h3 class="font-large-1 mb-0">34</h3>
					<!-- <span>Total Earning</span> -->
				  </div>
				</div>
			  </div>
		
		  </div>
		</div>
	  </div>
  </div>
</div>

<!--Statistics cards Ends-->

