<section id="success">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <div class="success-content">
        <div>
          <a routerLink="/homeservices">
            <img src="../../../../assets/img/new/back.png" />
            <span>Back</span>
          </a>
        </div>
        <div class="success-title">
          <h2>Congratulations</h2>
        </div>
        <div class="rebort">
          <img src="../../../../assets/img/new/rebort.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-11 col-lg-11 col-md-11 col-11">
      <img src="../../../../assets/img/new/success-bannar.png" width="100%" />
    </div>
  </div>

  <div class="row download">
    <div
      class="col-xl-12 col-lg-12 col-md-12 col-12"
      style="text-align: center; padding-top: 15px"
    >
      <p>
        Your Drone Permit certificate was granted, please download your license
        file here
      </p>
    </div>
    <div
      class="col-xl-12 col-lg-12 col-md-12 col-12"
      style="text-align: center"
    >
      <div>
        <a href="../../../../assets/img/films commission.pdf" download> Download PDF </a>
        <p>or</p>

        <a style="padding: 13px 33px"> Direct Print </a>
      </div>
    </div>
  </div>
</section>
