<div class="welcome-container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <div class="header-title">
        <h2>Welcome to Film Wizard</h2>
      </div>
      <div class="top-nav">

        <a>About</a>
        <a>Script Guide</a>
        <a>conditions and restrictions</a>
        <a>before you start</a>
        <a>need help?</a>

      </div>
      <div class="choose">
        <button (click)="addservice()">
          <i class="icon-plus"></i>
          <a>  Add New</a>
        </button>
      </div>
    </div>
  </div>
</div>
